.cari-wilayah {
    margin: 20px auto;
    width: fit-content;
}

.cari-wilayah form {
    width: fit-content;
}

#provinsi, #kota {
    /* width: 150px; */
    padding: 10px;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: rgb(0, 89, 255);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #f6f5f5;
    color: rgb(0, 89, 255);
}

form button:active {
    transform: scale(.9);
}

.cuaca {
    max-width: 500px;
    margin: 30px auto;
    padding: 15px;
    display: flex;
    background-color: #f6f5f5;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    box-sizing: border-box;
}

.left {
    text-align: center;
}

.left img {
    width: 150px;
}

.right {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

#location {
    position: absolute;
    bottom: 0;
    right: 0;
    /* justify-self: flex-end; */
}

.right li {
    padding: 5px 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(180, 180, 180);
}

/* weather hourly */

.cuaca-perjam {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.card-cuaca {
    width: 115px;
    margin: 10px 10px;
    padding: 10px;
    /* border: 1px solid black; */
    text-align: center;
    background-color: #f6f5f5;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}

.card-cuaca img {
    width: 100%;
}


/* responsive */
@media screen and ( max-width: 700px ) {
    .cari-wilayah form{
        display: flex;
        flex-direction: column;
    }

    .cari-wilayah form select {
        margin: 5px 0;
    }

    .cuaca {
        flex-direction: column;
        padding: 0 10px 40px 10px;
        width: 90%;
        margin: 30px auto;
    }

    #location {
        bottom: -30px;
    }

    .right ul {
        padding: 0;
    }
}